@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Outfit:wght@200&display=swap');
 div#content {
    max-width: 1600px;
    margin: 0 auto;
}
/* if there is space it means to find what every is after the space. NAV --> Find anything with an "a" */
nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
/*# means to find the id*/
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color:white;
}
/* . means to find the class*/
.button-box {
    text-align: center;
}

main section {
    text-align: center;
    background-color: #FF5A1e;
}

div#background {
    height: 725px;
}


body {
    background-color: #7FCDFF;
}


header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #FF5A1e;
}


nav a:hover{
    background-color: #7FCDFF;
    color: #FF5A1e;
}

.book, .join {
    background-color: #FF5A1e;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #FF5A1e;
}

.msg {
    background-color: #7FCDFF;
}

footer {
    background-color: #FF5A1e;
}


.home-title {
    color: #FF5A1e;
}

h4 {
    color: aliceblue;
}

.book, .join {
    color: black;
}

.book:hover, .join:hover {
    color: black;
}

.msg h2 {
    color: black;
}

.msg p {
    color: black;
}

footer h3 {
    color: blanchedalmond;
    text-decoration: underline;
}

footer a {
    color: blue;
    text-decoration: none;
}

footer a:hover {
    color: rgb(255, 17, 0);
    text-decoration: underline;
}

img.logo {
    width: 80px;
    margin: 0 auto;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}

#hero-box {
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}